@import "../src/common/index";
html, body {
  margin: 0;
  padding: 0;
  background: #e4e4e4;
}
.example {
  .main {
    width: 600px;
    margin: 0 auto;
    .operation {
      margin-top: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    button {
      padding: 8px;
      border-radius: 4px;
      background: #fff;
      border: none;
      cursor: pointer;
      min-width: 60px;
      text-align: center;
      outline: none;
      color: @font-color-3;
    }
    .volume-control-wrapper {
      padding: 20px 0;
      width: 20%;
    }
    .volume-control {
      height: 4px;
      border-radius: 16px;
      background: #ccc;
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;
      .volume-slider {
        height: 4px;
        border-radius: 16px;
        position: absolute;
        .volume-dot {
          height: 10px;
          width: 10px;
          position: absolute;
          right: -6px;
          top: -3px;
          background: #fff;
          border-radius: 50%;
          box-shadow: 0 0 2px #656565;
        }
      }
    }
  }
  .audio-list {
    width: 600px;
    margin: 80px auto 0 auto;
    background: #fff;
    padding: 16px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    &:hover {
      box-shadow: 0 0 8px #e2e2e2;
    }
    .audio-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all .3s ease-in-out;
      padding: 8px;
      cursor: pointer;
      &:hover {
        background: #f1f1f1;
        border-radius: 10px;
      }
      .left {
        display: flex;
        align-items: center;
        img {
          width: 60px;
          height: 60px;
          border-radius: 5px;
        }
        .audio-info {
          margin-left: 16px;
        }
      }
      .right {
        svg {
          width: 30px;
          height: 30px;
          fill: currentColor;
          color: @font-color-4;
        }
      }
    }
  }
}
.wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 780px) {
  .example {
    .audio-list {
      position: absolute;
      top: 60px;
      left: 50%;
      margin-left: -44%;
      width: 80%;
    }
  }
}
